<div class="main-content ml-[250px] p-6">

  <div>
    <div class="flex items-center justify-between mb-6">


      @if (isLoading) {
        <div class="flex items-center gap-6 w-full">
          <p-skeleton height="3rem" width="20rem" borderRadius="6px"></p-skeleton>
          <p-skeleton height="3rem" width="9rem" borderRadius="6px" class="ml-auto"></p-skeleton>
        </div>
      }

      @if (file && !isLoading) {
        <div class="text-4xl font-extrabold">
          {{ file.name }}
        </div>

        <p-button
          class=""
          label="Create File"
          icon="pi pi-plus"
          (click)="openCreateDialog(file.id)">
        </p-button>
      }

    </div>

    @if (isLoading) {
      <div class="flex flex-wrap gap-4">
        @for (skel of [1, 2, 3, 4, 5]; track $index) {
          <div class="flex items-center px-10 py-6 rounded-xl shadow-lg bg-gray-200 min-w-[220px] min-h-[64px]">
            <p-skeleton shape="square" size="2.5rem" class="mr-5"></p-skeleton>
            <div class="flex flex-col gap-2 flex-1">
              <p-skeleton height="1.5rem" width="8rem" borderRadius="4px"></p-skeleton>
              <p-skeleton height="1rem" width="5rem" borderRadius="4px"></p-skeleton>
            </div>
          </div>
        }
      </div>
    }

    @if (file && !isLoading) {
      @if (file.childrenFiles.length !== 0) {
        <div class="flex flex-wrap gap-4">
          @for (childFile of file.childrenFiles; track $index) {
            <div
              class="flex items-center px-10 py-6 rounded-xl shadow-lg cursor-pointer bg-gray-200 hover:bg-gray-300  transition group min-w-[220px] min-h-[64px] text-xl"
              tabindex="0"
              role="button"
            >
              <i [ngClass]="getIconForFile(childFile.fileType)"
                 class="mr-5 text-3xl group-hover:text-primary-600 transition"></i>
              <span class="font-semibold truncate group-hover:text-primary-600 transition hover:underline"
                    (click)="openDirectory(childFile)">{{ childFile.name }}</span>
              <i class="pi pi-ellipsis-v ml-5 text-3xl group-hover:text-primary-600 transition"
                 (click)="fileActions.toggle($event)"></i>
              <p-popover #fileActions>
                <div class="flex flex-col gap-2 p-2 w-50">
                  <button
                    type="button"
                    class="w-full py-2 px-3 rounded hover:bg-gray-300 text-left transition"
                    (click)="openEditDialog(childFile)"
                  >
                    <i class="pi pi-pencil mr-2"></i> Update file
                  </button>
                  @if (childFile.fileType == 'FILE') {
                    <button
                      type="button"
                      class="w-full py-2 px-3 rounded hover:bg-gray-300 text-left transition"
                      (click)="downloadFile(childFile)"
                    >
                      <i class="pi pi-download mr-2"></i> Download
                    </button>
                  }
                  @if (childFile.fileType == 'DIRECTORY') {
                    <button
                      type="button"
                      class="w-full py-2 px-3 rounded hover:bg-red-100 text-left text-red-600 transition"
                      (click)="forceDeleteDirectory(childFile)"
                    >
                      <i class="pi pi-trash mr-2"></i> Delete directory
                    </button>
                  } @else {
                    <button
                      type="button"
                      class="w-full py-2 px-3 rounded hover:bg-red-100 text-left text-red-600 transition"
                      (click)="deleteFile(childFile)"
                    >
                      <i class="pi pi-trash mr-2"></i> Delete file
                    </button>
                  }
                </div>
              </p-popover>
            </div>
          }
        </div>
      } @else {
        <div class="flex items-center justify-center h-screen">
          <div class="text-4xl text-center font-extrabold">
            Directory is empty
          </div>
        </div>
      }
    }

    <p-dialog [(visible)]="displayDialog" [closable]="true" [modal]="true" [resizable]="false"
              [style]="{ width: '400px', height: '420px' }" header="{{ isEdit ? 'Edit File' : 'Create File' }}">
      <form (ngSubmit)="saveFile()" class="flex flex-col gap-4">
        <div>
          <label class="block mb-2 font-medium">Name</label>
          <input [(ngModel)]="fileForm.name" class="w-full" name="name" pInputText required type="text"/>
        </div>
        @if (!isEdit) {
          <div>
            <label class="block mb-2 font-medium">Type</label>
            <p-select [(ngModel)]="fileForm.fileType" [disabled]="isEdit" [options]="fileTypeOptions" class="w-full"
                      name="fileType" optionLabel="label" optionValue="value" required></p-select>
          </div>
        }
        @if (fileForm.fileType == 'FILE') {
          <div>
            <p-fileupload mode="basic" chooseIcon="pi pi-upload" chooseLabel="Choose a file"
                          (onSelect)="onFileSelected($event)"/>
          </div>
        }
        <div class="flex gap-2 mt-4">
          <p-button class="" label="Save" type="submit"></p-button>
          <p-button (click)="displayDialog=false" class="" label="Cancel"></p-button>
        </div>
      </form>
    </p-dialog>
  </div>
</div>
