<p-table [value]="roles" [loading]="loading">
    <ng-template #header>
        <tr class="bg-gray-100 text-left text-lg font-semibold text-gray-800">
            <th class="px-6 py-4 border-b border-gray-300">Name</th>
            <th class="px-6 py-4 border-b border-gray-300">Access Controls</th>
            <th class="px-6 py-4 border-b border-gray-300">Created At</th>
            <th class="px-6 py-4 border-b border-gray-300">Updated At</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-role>
        <tr class="hover:bg-gray-50 text-base text-gray-900">
            <td class="px-6 py-4 border-b border-gray-200">
                <p-tag severity="success" [value]="role.name" />
            </td>
            <td class="px-6 py-4 border-b border-gray-200 space-y-1">
                <div *ngFor="let ac of role.accessControls" class="flex flex-wrap items-center gap-2 text-sm">
                    <span class="font-semibold text-gray-700">{{ ac.resource }}:</span>
                    <ng-container *ngFor="let action of ac.actions">
                        <p-tag [value]="action" severity="info" class="text-xs m-0"></p-tag>
                    </ng-container>
                </div>
            </td>
            <td class="px-6 py-4 border-b border-gray-200">
                {{ role.createdAt | date: 'dd MMM yyyy h:mm:ss a' }}
            </td>
            <td class="px-6 py-4 border-b border-gray-200">
                {{ role.updateAt | date: 'dd MMM yyyy h:mm:ss a' }}
            </td>
            <td>
                <i class="pi pi-pencil cursor-pointer text-blue-500 hover:text-blue-700 transition duration-300"
                    (click)="openSidebar(role)"></i>
                <i class="ml-4 pi pi-trash cursor-pointer text-red-500 hover:text-red-700 transition duration-300"
                    (click)="onDeleteRole(role.id)"></i>

            </td>
        </tr>
    </ng-template>
</p-table>

<div class="mt-6">
    <p-paginator (onPageChange)="onPageChanged($event)" [first]="page.number" [rows]="page.size"
        [totalRecords]="page.totalElements" class="w-full text-base"></p-paginator>
</div>

<p-drawer [(visible)]="showSidebar" position="right" [baseZIndex]="100" header="Edit Role">
    <div class="mb-4">
        <label class="font-semibold">Role Name</label>
        <input pInputText [(ngModel)]="updatedRole.name" class="w-full mt-2" />
    </div>

    <div *ngFor="let resource of availableResources" class="mb-3">
        <label class="font-semibold text-sm text-gray-700 block mb-1">{{ resource }}:</label>
        <p-multiSelect [(ngModel)]="selectedActionsPerResource[resource]" [options]="availableActions"
            (onChange)="onActionChange(resource)" [disabled]="disableResourceIfNotAll(resource)" [maxSelectedLabels]="2"
            defaultLabel="Select actions" class="w-full" />
    </div>

    <div class="flex justify-end gap-2 mt-6">
        <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="cancelEdit()"></button>
        <button pButton type="button" label="Save" (click)="updateRole()"></button>
    </div>
</p-drawer>