<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="w-full max-w-md p-6 bg-white rounded-2xl shadow-lg">
    <h2 class="text-2xl font-bold mb-6 text-center">Change Password</h2>

    <form (ngSubmit)="onSubmit()"
          [formGroup]="resetPasswordForm"
          class="space-y-7">

      <!-- New Password -->
      <div>
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-lock"></i>
          </p-inputgroup-addon>
          <p-floatlabel>
            <label for="password">New Password</label>
            <input
              class="w-full"
              formControlName="password"
              id="password"
              pInputText
              type="password"
            />
          </p-floatlabel>
        </p-inputgroup>

        <div *ngIf="isInvalidField('password')"
             class="text-red-500 text-sm mt-1">
          Password is required.
        </div>
      </div>

      <!-- Confirm Password -->
      <div>
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-lock-open"></i>
          </p-inputgroup-addon>
          <p-floatlabel>
            <label for="confirmPassword">Confirm Password</label>
            <input
              class="w-full"
              formControlName="confirmPassword"
              id="confirmPassword"
              pInputText
              type="password"
            />
          </p-floatlabel>
        </p-inputgroup>

        <div *ngIf="resetPasswordForm.errors?.['passwordMismatch']
                    && resetPasswordForm.touched"
             class="text-red-500 text-sm mt-1">
          Passwords do not match.
        </div>
      </div>

      <button
        [disabled]="resetPasswordForm.invalid"
        [loading]="isLoading"
        class="w-full mb-3"
        label="Change Password"
        pButton
        type="submit">
      </button>

      <div class="text-center m-0">
        <p-button (onClick)="goToOrganizationChoosePage()" label="Skip" link/>
      </div>

    </form>
  </div>
</div>
