<button (click)="roleFormTemplate.toggle($event)" [style]="{ width: 'auto' }" appendTo="body" class="mb-1"
        icon="pi pi-plus" label="Add Role"
        pButton position="right" trigger="click" type="button">
</button>

<p-popover #roleFormTemplate>
  <div class="w-[320px] sm:w-[400px] p-4 space-y-4">
    <input [(ngModel)]="roleName" class="w-full border border-gray-300 p-2 rounded-md" pInputText
           placeholder="Role name"/>

    <div *ngFor="let resource of resources" class="space-y-1">
      <label class="font-medium text-sm">{{ resource }}</label>
      <p-multiSelect (onChange)="onActionChange(resource)" [(ngModel)]="selectedActionsPerResource[resource]"
                     [disabled]="disableResourceIfNotAll(resource)" [options]="availableActions"
                     class="w-full" defaultLabel="Select actions" display="chip"></p-multiSelect>
    </div>

    <button (click)="onSubmit()" class="w-full" label="Create Role" pButton type="button"></button>
  </div>
</p-popover>
