<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="w-full max-w-md p-6 bg-white rounded-2xl shadow-lg">
    <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="space-y-7">

      <div>
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-user"></i>
          </p-inputgroup-addon>
          <p-floatlabel>
            <label for="login">Login</label>
            <input class="w-full" formControlName="login" id="login" pInputText/>
          </p-floatlabel>
        </p-inputgroup>
        <div *ngIf="isInvalidField('login')" class="text-red-500 text-sm mt-1">
          login is required.
        </div>
      </div>

      <div>
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-unlock"></i>
          </p-inputgroup-addon>
          <p-floatlabel>
            <label for="password">Password</label>
            <input class="w-full" formControlName="password" id="password" pInputText type="password">
          </p-floatlabel>
        </p-inputgroup>
        <div *ngIf="isInvalidField('password')" class="text-red-500 text-sm mt-1">
          Password is required.
        </div>
      </div>

      <button [disabled]="loginForm.invalid" class="w-full " label="Login" pButton type="submit"></button>

      <div class="text-center mt-2">
        <span class="text-sm text-gray-600">Don't have an account?</span>
        <a (click)="goToRegistrationPage()"
           class="text-blue-600 hover:underline ml-1 cursor-pointer transition-all duration-300">Sign up</a>
      </div>
      <div class="text-center mt-2">
        <span class="text-sm text-gray-600">Forgot a password?</span>
        <a (click)="goToForgotPasswordPage()"
           class="text-blue-600 hover:underline ml-1 cursor-pointer transition-all duration-300">Restore a password</a>
      </div>
    </form>
  </div>
</div>
