<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="w-full max-w-md p-6 bg-white rounded-2xl shadow-lg">
    <h2 class="text-2xl font-bold mb-6 text-center">Create Organization</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="organizationForm" class="space-y-6">
      <div *ngFor="let field of fields">
        <p-inputgroup>
          <p-inputgroup-addon>
            <i [ngClass]="field.icon" class="pi"></i>
          </p-inputgroup-addon>
          <p-floatlabel>
            <label [for]="field.name">{{ field.label }}</label>
            <input [formControlName]="field.name"
                   [id]="field.name"
                   [type]="field.type || 'text'"
                   class="w-full"
                   pInputText/>
          </p-floatlabel>
        </p-inputgroup>
        <div *ngIf="isInvalidField(field.name)" class="text-red-500 text-sm mt-1">
          {{ field.label }} is required.
        </div>
      </div>

      <button [disabled]="organizationForm.invalid" class="w-full" label="Create" pButton type="submit"></button>
    </form>
  </div>
</div>
