<div class="main-content ml-[250px] p-6">
  <div class="flex justify-between items-center mb-4">
    <div>
      <p-select (onFilter)="findUsersToAddToOrganization($event)" [(ngModel)]="selectedUser" [filter]="true"
                [options]="usersToAdd"
                [showClear]="true" class="w-full md:w-56" filterPlaceholder="Find by full name"
                optionLabel="fullName" placeholder="Select an User"/>
      @if (selectedUser) {
        <p-select [options]="roles" [(ngModel)]="selectedRole"
                  optionLabel="name" placeholder="Select a role for the user" [showClear]="true" class="ml-2"/>
      }
      <button (click)="inviteUserToOrganization()" [disabled]="selectedUser === null" class="ml-3 p-2" icon="pi pi-plus"
              pButton
              type="button">Invite User
      </button>
    </div>
    <div class="flex items-center">
            <span (click)="resetFilter()"
                  class="pi pi-filter-slash cursor-pointer hover:bg-gray-200 duration-300 rounded-lg p-2"
                  title="Reset Filter"></span>
      <button (click)="applyFilter()" class="ml-3 p-2" icon="pi pi-filter" pButton type="button">Apply
        Filter
      </button>
    </div>
  </div>
  <p-table #userTable (sortFunction)="onSort($event)" [customSort]="true" [loading]="loading" [value]="users">
    <ng-template #header>
      <tr>
        <th pSortableColumn="login">Login
          <p-sortIcon class="ml-2" field="login"/>
        </th>
        <th pSortableColumn="email">Email
          <p-sortIcon class="ml-2" field="email"/>
        </th>
        <th pSortableColumn="firstName">First Name
          <p-sortIcon class="ml-2" field="firstName"/>
        </th>
        <th pSortableColumn="lastName">Last Name
          <p-sortIcon class="ml-2" field="lastName"/>
        </th>
        <th>Roles</th>
        <th class="w-12 text-center"></th>
      </tr>
      <tr>
        <th>
          <input [(ngModel)]="filter.login" class="w-full" pInputText placeholder="Search by login"
                 type="text"/>
        </th>
        <th>
          <input [(ngModel)]="filter.email" class="w-full" pInputText placeholder="Search by email"
                 type="text"/>
        </th>
        <th>
          <input [(ngModel)]="filter.firstName" class="w-full" pInputText placeholder="Search by first"
                 type="text"/>
        <th>
          <input [(ngModel)]="filter.lastName" class="w-full" pInputText placeholder="Search by last name"
                 type="text"/>
        </th>
        <th>
          <p-multiselect [(ngModel)]="filter.rolesId" [filter]="false" [options]="roles" [showHeader]="false"
                         optionLabel="name" optionLabel="name" optionValue="id" placeholder="Select Roles"
                         styleClass="w-full"/>
        </th>
        <th></th>
      </tr>
      <tr>
        <td colspan="6">
        </td>
      </tr>
    </ng-template>
    <ng-template #body let-user>
      <tr>
        <td>{{ user.login }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.firstName || 'Not specified' }}</td>
        <td>{{ user.lastName || 'Not specified' }}</td>
        <td class="w-[325px] max-w-[325px] align-top">
          <div class="flex justify-between items-center gap-2">
            <div class="flex flex-wrap gap-2">
              <p-tag *ngFor="let role of user.roles" class="flex items-center gap-1" severity="success">
                <span>{{ role.name }}</span>
                <i (click)="removeRoleFromUser(user.id, role.id)"
                   class="pi pi-times cursor-pointer hover:text-red-500 duration-200"></i>
              </p-tag>
            </div>
            <div class="flex-shrink-0 self-center">
              <p-popover #rolesToAdd>
                <div class="w-48">
                  <div class="p-4">
                    <h4 class="text-lg font-bold text-center text-gray-800 mb-4">Assign Role</h4>
                    <div *ngFor="let role of roles"
                         class="flex items-center justify-between mb-3 last:mb-0">
                      <span class="text-gray-700 font-medium">{{ role.name }}</span>
                      <button
                        (click)="addRoleToUser(user.id, role.id)"
                        class="flex items-center justify-center w-8 h-8 bg-green-500 hover:bg-green-600 text-white rounded-full shadow transition duration-200">
                        <i class="pi pi-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </p-popover>
              <i
                (click)="rolesToAdd.toggle($event)"
                class="pi pi-plus-circle cursor-pointer text-gray-700 hover:text-green-600 hover:bg-gray-200 rounded-full p-2 transition duration-300"></i>
            </div>
          </div>
        </td>
        <td class="text-center align-middle w-6">
          <p-popover #actionsPopover>
            <div class="p-2 w-40">
              <button (click)="confirmDeletationOfUserFromOrganization(user.id); actionsPopover.hide()"
                      class="w-full text-left px-3 py-2 text-red-600 hover:bg-red-100 rounded transition">
                <i class="pi pi-trash"></i> Remove User
              </button>
            </div>
          </p-popover>
          <i
            (click)="actionsPopover.toggle($event)"
            class="pi pi-ellipsis-v text-gray-700 hover:bg-gray-200 p-2 rounded cursor-pointer transition duration-200 text-lg"
            title="Actions">
          </i>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator (onPageChange)="onPageChanged($event)" [first]="first" [rows]="size" [totalRecords]="totalElements"/>


</div>
