<div class="main-content ml-[250px] p-6">
    <div class="flex justify-between items-center mb-4">
        <div>
            <p-select [options]="usersToAdd" [(ngModel)]="selectedUser" [filter]="true" [showClear]="true"
                (onFilter)="findUsersToAddToOrganization($event)" optionLabel="fullName" placeholder="Select an User"
                filterPlaceholder="Find by full name" class="w-full md:w-56" />
            <button pButton type="button" icon="pi pi-plus" class="ml-3 p-2" [disabled]="selectedUser === null"
                (click)="addUserToOrganization()">Add user</button>
        </div>
        <div class="flex items-center">
            <span class="pi pi-filter-slash cursor-pointer hover:bg-gray-200 duration-300 rounded-lg p-2"
                title="Reset Filter" (click)="resetFilter()"></span>
            <button pButton type="button" icon="pi pi-filter" class="ml-3 p-2" (click)="applyFilter()">Apply
                Filter</button>
        </div>
    </div>
    <p-table #userTable [value]="users" [loading]="loading" [customSort]="true" (sortFunction)="onSort($event)">
        <ng-template #header>
            <tr>
                <th pSortableColumn="login">Login<p-sortIcon class="ml-2" field="login" /></th>
                <th pSortableColumn="email">Email<p-sortIcon class="ml-2" field="email" /></th>
                <th pSortableColumn="firstName">First Name<p-sortIcon class="ml-2" field="firstName" /></th>
                <th pSortableColumn="lastName">Last Name<p-sortIcon class="ml-2" field="lastName" /></th>
                <th>Roles</th>
                <th class="w-12 text-center"></th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" [(ngModel)]="filter.login" placeholder="Search by login"
                        class="w-full" />
                </th>
                <th>
                    <input pInputText type="text" [(ngModel)]="filter.email" placeholder="Search by email"
                        class="w-full" />
                </th>
                <th>
                    <input pInputText type="text" [(ngModel)]="filter.firstName" placeholder="Search by first"
                        class="w-full" />
                <th>
                    <input pInputText type="text" [(ngModel)]="filter.lastName" placeholder="Search by last name"
                        class="w-full" />
                </th>
                <th>
                    <p-multiselect [options]="roles" [(ngModel)]="filter.rolesId" optionLabel="name" [filter]="false"
                        optionLabel="name" optionValue="id" [showHeader]="false" placeholder="Select Roles"
                        styleClass="w-full" />
                </th>
                <th></th>
            </tr>
            <tr>
                <td colspan="6">
                </td>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr>
                <td>{{ user.login }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName || 'Not specified' }}</td>
                <td>{{ user.lastName || 'Not specified' }}</td>
                <td class="w-[325px] max-w-[325px] align-top">
                    <div class="flex justify-between items-center gap-2">
                        <div class="flex flex-wrap gap-2">
                            <p-tag *ngFor="let role of user.roles" severity="success" class="flex items-center gap-1">
                                <span>{{ role.name }}</span>
                                <i class="pi pi-times cursor-pointer hover:text-red-500 duration-200"
                                    (click)="removeRoleFromUser(user.id, role.id)"></i>
                            </p-tag>
                        </div>
                        <div class="flex-shrink-0 self-center">
                            <p-popover #rolesToAdd>
                                <div class="w-48">
                                    <div class="p-4">
                                        <h4 class="text-lg font-bold text-center text-gray-800 mb-4">Assign Role</h4>
                                        <div *ngFor="let role of roles"
                                            class="flex items-center justify-between mb-3 last:mb-0">
                                            <span class="text-gray-700 font-medium">{{ role.name }}</span>
                                            <button
                                                class="flex items-center justify-center w-8 h-8 bg-green-500 hover:bg-green-600 text-white rounded-full shadow transition duration-200"
                                                (click)="addRoleToUser(user.id, role.id)">
                                                <i class="pi pi-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </p-popover>
                            <i class="pi pi-plus-circle cursor-pointer text-gray-700 hover:text-green-600 hover:bg-gray-200 rounded-full p-2 transition duration-300"
                                (click)="rolesToAdd.toggle($event)"></i>
                        </div>
                    </div>
                </td>
                <td class="text-center align-middle w-6">
                    <p-popover #actionsPopover>
                        <div class="p-2 w-40">
                            <button class="w-full text-left px-3 py-2 text-red-600 hover:bg-red-100 rounded transition"
                                (click)="confirmDeletationOfUserFromOrganization(user.id); actionsPopover.hide()">
                                <i class="pi pi-trash"></i> Remove User
                            </button>
                        </div>
                    </p-popover>
                    <i class="pi pi-ellipsis-v text-gray-700 hover:bg-gray-200 p-2 rounded cursor-pointer transition duration-200 text-lg"
                        (click)="actionsPopover.toggle($event)" title="Actions">
                    </i>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChanged($event)" [first]="first" [rows]="size" [totalRecords]="totalElements" />


</div>